/* CSS Document */



bady{ margin:0px;}
.box{  margin:0 auto; width:900px;  border:5px solid black; float:left;}



.left{ width:300px; float:left;}
.left div{ height:298px;border:solid #FFF 1px;  background:red;}

.center{ width:300px; float:left;}
.center div{ height:198px;border:solid #FFF 1px; background:green;}

.right{ width:300px;float:left;}
.right div{ height:298px;border:solid #FFF 1px;  background:pink;}

.clear{ zoom:1;}
.clear after{ content:""; display:block; clear:both;}